* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
}

input {
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  width:auto;
  padding-right: 20px;
  color: rgba(94,94,94,1);
  text-align: right;
  font-size: 18px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='20px'><text x='5' y='15' style='font-size: 12px;' fill='lightgray'>\25BC</text></svg>");
  background-position: right;
  background-repeat: no-repeat;
}

select::-ms-expand {
  display: none;
}
.top_div {
  max-width: 1024px;
  opacity: 1;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background:#fff;
}
.section_area {
  display:block;
  margin: 16px 16px;
  opacity: 1;
  overflow: hidden;
}
.text_title1 {
  color: orangered;
  font-size: 24px;
  height:24px;
  margin: 20px 0;
}
.text_title_underline {
  color: orangered;
  font-size: 24px;
  height:24px;
  border-bottom: 2px solid orangered;
  margin: 20px 0;
}
.text_box {}
.text_hex_small {
  color: rgba(94,94,94,1);
  text-align:left;
  font-size: 14px;
  opacity: 1;
}
.text_label {
  color: rgba(157,157,157,1);
  font-size: 12px;
  margin:2px 0;
  opacity: 1;
  text-align: left;
}
.text_amount_small {
  color: rgba(94,94,94,1);
  text-align:right;
  font-size: 14px;
  opacity: 1;
}
.flex_area {
  width: 100%;
  opacity: 1;
  top: 0px;
  left: 0px;
  text-align: center;
  overflow: hidden;
  display: flex;
}

.menu_btn {
  display: block;
  background: orangered;
  color: #fff;
  border-width: 0px;
  border-radius: 4px;
  margin: auto; 
  width: 50%;
  padding: 10px;
  text-align:center;
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
}
.menu_btn:disabled {
  background: gray;
}
.flex_area .menu_btn {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1px;
}
.menu_btn:hover {
  background: rgb(127, 35, 0);
  color: #fff;
}

.menu_btn2 {
  display: block;
  background: rgb(255, 170, 128);
  color: #fff;
  border-width: 0px;
  border-radius: 4px;
  margin: auto; 
  width: 50%;
  padding: 10px;
  text-align:center;
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
}
.menu_btn2:hover {
  background: rgb(127, 35, 0);
  color: #fff;
}

.info_block {
  width: 100%;
  opacity: 1;
  overflow: hidden;
}
.account_item {
  width: 100%;
  opacity: 1;
  left: 0px;
  overflow: hidden;
  text-align:right;
  margin: 12px 0;
}
.account_item_title {
  width: 100%;
  color: rgba(157,157,157,1);
  text-align: right;
  font-weight: bold;
  font-size: 12px;
  opacity: 1;
}
.account_item_value {
  width: 100%;
  color: rgba(94,94,94,1);
  text-align: right;
  font-size: 18px;
  opacity: 1;
}
.inputboxred {
  width:100%;
  height: 32px;
  border: 2px solid lightgray;
  /* box-sizing: border-box; */
  /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 4px;
  padding:8px;
}
.inputboxred:focus {
  border-color: orangered;
}
.inputboxred:active {
  border-color: orangered;
}
.inputboxred:hover {
  border-color: orangered;
}
.inputboxblue {
  width:100%;
  height: 32px;
  border: 2px solid lightgray;
  /* box-sizing: border-box; */
  /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 4px;
  padding:8px 0;
}
.inputboxblue:focus {
  border-color: dodgerblue;
}
.inputboxblue:active {
  border-color: dodgerblue;
}
.inputboxblue:hover {
  border-color: dodgerblue;
}
.simpletextbox {
  overflow:hidden;
  resize:none;
}
.center {
  margin: auto; 
  width: 100%;
  padding: 10px;
  text-align:center;
  /*border: 1px solid orangered;*/
  /*border-radius: 4px;*/
}
.alert_back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.alert_layer {
  background:#fff;
  border: 2px solid orangered;
  border-radius: 4px;
  padding: 16px;
}
.alert_text {
  display:block;
  padding: 8px;
  font-family: Arial;
  font-weight: normal;
  font-size: 16px;
}

.btn_icon {
  color: #d3d3d3
}
.btn_icon:hover {
  color: gray;
}
.btn_icon:active {
  color: gray;
}